@page "/Abp/PrivateMessaging"
@using Microsoft.Extensions.Localization
@using global::Syrna.PrivateMessaging.Localization
@inject IStringLocalizer<PrivateMessagingResource> L
@{
}
<h1>PrivateMessaging</h1>
<p>@L["SamplePageMessage"]</p>